CREATE DATABASE [ProjectDB] ON  PRIMARY 
( NAME = N'ProjectDB', FILENAME = N'D:\SQLSERVEREXPRESS\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProjectDB.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjectDB_log', FILENAME = N'D:\SQLSERVEREXPRESS\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProjectDB_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [ProjectDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [ProjectDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
